@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-button {
  background: linear-gradient(45deg, #fe429a, #1a6de2, #b41199, #599ecc);
  background-size: 300% 300%;
  animation: gradient-shift 3s ease infinite;
}
